<div id="calculator">
  <div class="input-display-container">
    <input class="input-display" type="text" placeholder="{{displayValue}}" readonly>
  </div>

  <div id="buttons-grid">
    <button class="button" (click)="handleNumberPress(7)">7</button>
    <button class="button" (click)="handleNumberPress(8)">8</button>
    <button class="button" (click)="handleNumberPress(9)">9</button>
    <button class="button" (click)="handlePress('/')">/</button>
    <button class="button" (click)="handlePress('*')">*</button>
    <button class="button red-button" (click)="handleDelete()"><i class="mdi mdi-backspace"></i></button>

    <button class="button" (click)="handleNumberPress(4)">4</button>
    <button class="button" (click)="handleNumberPress(5)">5</button>
    <button class="button" (click)="handleNumberPress(6)">6</button>
    <button class="button" (click)="handlePress('+')">+</button>
    <button class="button" (click)="handlePress('-')">-</button>
    <button class="button red-button" (click)="handleClear()">Clear</button>

    <button class="button" (click)="handleNumberPress(1)">1</button>
    <button class="button" (click)="handleNumberPress(2)">2</button>
    <button class="button" (click)="handleNumberPress(3)">3</button>
    <button class="button" (click)="handlePress('(')">(</button>
    <button class="button" (click)="handlePress(')')">)</button>
    <button class="button" (click)="handlePress('^')">pow</button>

    <button class="button" (click)="handlePress('.')">.</button>
    <button class="button" (click)="handleNumberPress(0)">0</button>
    <button class="button" (click)="handlePress('%')">%</button>
    <button class="button equals-button" (click)="evaluateExpression()">=</button>

  </div>
</div>
